/*Add your amazing style here!*/
body {
	padding: 0;
	margin: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-family: 'montserrat';
	background-image: url(../img/bg2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

p{
	font-size: 10px;
}

.appComponent {
	margin-top: 5%;
	margin-left: 45%;
	display: flex;
	width:50%;
	
}

h1{
	background-color: black;
	width:50%;
    border-radius: 12px;
    text-decoration: none;
	color: white;
	text-align: center;
}